body {
  background-color: #F5F5F5;
  /*font-family: regular 400;*/
}

header {
}

nav {
  width:55px;
  background-color:white;
  display:inline-block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  z-index:1;
}

ul {
  list-style: none;
}

nav,
ul,
li {
  margin: 0;
}

header, main {
  margin:0 100px;
}

main {
  width: 500px;
  display:inline-block;
  position:relative;
}

.icon {
  width:30px;
  height:30px;
  margin:15px auto;
  display: block;
  padding-left: 2px;
}

.company-logo {
  width:60px;
  height:60px;
  margin:15px auto 150px auto;
}

.icon:hover{
  border-left: 2px solid turquoise;
}

.blue-background {
  width:100%;
  padding:20px;
  display: inline-block;
  margin-top:0;
  box-sizing: border-box;
  background:linear-gradient(to right, #8ED1DC, #E3F4F6);
}

.account-overview {
  width:500px;
  content: ' ';
  display:table;
  clear:both;
}

.account-name {
  clear:both;
}

.account-icon {
  width:30px;
  height:30px;
  float:left;
}

p {
  margin-bottom:5px;
}

h4 {
  margin-top:0;
  font-size:18px;
}

.card {
  display:inline;
  float:left;
  padding: 5px 20px 20px 15px;
  margin:2%;
  text-align:left;
  width:23%;
  height: 60px;
  background:white;
}

#first-card {
  margin-left:0;
}

#last-card {
  margin-right:0;
}

.account-status {
  width:500px;
}

.account-list {
  display:block;
  float:left;
}

h3 {
  float:left;
  margin:10px;
}

button {
  margin-top:20px;
  margin-left:10px;
  background-color:#1CA3BA;
  border-radius: 10px 10px 10px 10px;
  border: transparent;
  color:white;
  text-transform: uppercase;
  padding:5px 15px;
}

.info-card {
  background:white;
  display:inline-block;
  width:100%
}

aside {
  width:500px;
  position: absolute;
  top: 78px;
  left: 755px;
  background-color:white;
}

table {
  margin:10px;
  text-align:left;
  box-sizing: border-box;
  width:98%;
  border-collapse: collapse;
}

th,
td {
  padding:0 10px 0 0;
}

td {
  border-bottom:1px solid black;
}

.outflow {
  padding-right:0;
}
